header h1{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0 auto 0 auto;
}
main{
    margin: 0 auto;
    background-color: aliceblue;

}

.center{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .container{
      max-width: 360px;
      display: grid;
      grid-template-columns: 1fr;
      border: none;
  }
  section{
      display: grid; 
      margin: 0 auto 0 auto;
  }
  section h2{
    height: 80px;
    color: gray;
  }

  section h3{
    height: 50px;
  }

  h1, h1 p{
    text-align: center;
    background-color: brown;
    color: aliceblue;
  }
  h1 p{
    font-size:medium;
    margin: 0;
  }
  h1, h2, h3, p, footer{
    font-family: "Abel","Tapestry";
  }

  h2, h3{
    text-align: center;
  }
  h3{
    background-color: gray;
  }
  img{
    max-width: 360px;
  }
  a{
    text-align: center;
  }
  footer{
    text-align: center;
    background-color: brown;
    color: aliceblue;
    min-height: 50px;
  }