body {
	font-family: Roboto, sans-serif;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
    overflow: auto;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
    float: right;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}
