/* base style for mobile - design for mobile */
body {
	font-family: Abel, Tapestry;
}

header {
	display: grid;
	grid-template-columns: auto 48px;
	background-color: #A71930;
}
button {
	height: 48px;
	width: 48px;
	font-size: 2rem;
	background-color: #A71930;
}

header button {
	position: absolute;
	top: 14px;
	right: 14px;
}

header button::before {
	content: "\2630";
	background-color: #A71930;
	padding: 0px;
	margin: 0px;
}

header button.open::before {
	content: "\2715";
}

ul li a:link {
	color: #151515;
}

ul li a:visited {
	color: silver;
}

.logo-header {
	max-height: 100px;
	display: grid;
	grid-template-columns: 15% 50% 25%;
	margin: 0;
}

.m {
	max-height: 64px;
	margin-left: 4px;
}

.logo-header div div{
	margin: 0;
	padding: 0;
	padding-top: 7px;
	border: 0;
	vertical-align: middle;
}

.logo-title {
	font-size: large;
}

p.logo-title {
	margin: 0;
	border: none;
	
}
i{
	color: blue;
}
nav {
	display: none;
	position: absolute;
	top: 60px;
	right: 0px;
}

nav.open {
	display: block;
	background-color: #A71930;
	z-index: 1;
	margin-right: 2%;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li:nth-child(1) {
	border-top: black 1px solid;
}

nav li {
	list-style: none;
	text-align: center;
	vertical-align: middle;
	border: black solid 1px;
	border-top: none;
	padding-top: 0;

}

nav a {
	display: block;
	padding: .75rem 2rem;
	width: 200px;
	font-size: large;
	font-weight: 700;
}

a:link {
	text-decoration: none;
}

h3 {
	text-align: center;
}


/* Header */
.hero {
	align-items: center;
	position: relative;
	background-color: #A71930;
}

.hero img {
	margin: 0 auto;
	min-width: 100%;
	max-width: 100%;
	z-index: -5;
}

.hero .join {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 0;
	background-color: #A71930;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 12rem;
	height: 3rem;
	font-size: xx-large;
	border-radius: .75rem;
	border: none;
	opacity: 0.8;
}

main {
	display: grid;
	background-color: #A71930;
}

/* Section */

#companies {
	grid-column: span 3;
}
section {
	margin: 5px;
	padding-left: 10px;
	border: 1px darkgray solid;
	background-color: lightgray;
}

.currentinfo li {
	text-decoration: none;
	list-style: none;
}

.currentinfo h2 {
	border-bottom: 1px #A71930 solid;
	margin-right: 10px;
}

main h3 {
	color: silver;
	text-shadow: 0 0 3px #151515;
	font-size: xx-large;
	margin-top: 1rem;
	margin-bottom: 1rem;
	grid-column: span 3;
}

.spotlight {
	text-align: center;
	box-shadow: 0 0 15px #333 inset;
}

.spotlight h5 {
	text-align: right;
	margin-right: 10px;
}

.spotlight h4 {
	text-align: left;
	margin-right: 10px;
}

.spotlight p {
	margin-bottom: 2px;
	margin-top: 2px;
}

.spotlight a {
	text-decoration: none;
}

/* Footer */
footer div {
	background-color: #151515;
	display: grid;
	text-align: center;
	font-weight: 700;
	border: none;
	margin: 0px;
	padding-left: 0px;
}

footer div img {
	max-width: 120px;
}

ul.footer-logo {
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 0;
}

ul.footer-logo li {
	background-color: #151515;
}

ul.logo-text {
	background-color: #151515;
	color: white;
	padding-left: 10px;
	align-self: center;
	margin: 0 auto;
}

img.logo {
	max-height: 100px;
	min-height: 50px;
}

li.logo-title {
	font-weight: 900;
	font-size: large;
	text-align: left;
}

li.logo-normal {
	font-size: small;
	text-align: left;
}

footer div ul {
	display: grid;
}

footer div ul li {
	list-style: none;
	text-align: center;
}

footer div ul li a {
	text-decoration: none;
}

footer div.logo-text {
	grid-column-start: 2;
}

ul.footer-info {
	background-color: #A71930;
	text-align: center;
	padding: 0;
	grid-column: span 2;
	margin-top: 0;
	margin-bottom: 0;
}

ul.highlight {
	margin-top: 0;
	background-color: #322F2B;
	padding-left: 0;
	text-align: center;
	grid-column: span 2;
	color: white;
}

#lastModified {
	margin-top: 0px;
}

/* -----------DISCOVERY ---------------*/
main.discovery{
	display: grid;
	grid-template-columns: 1fr;
	
}
.discovery h1{
	text-align: center;
}
.discovery aside{	
	background-color: silver;
	display: inline;
	grid-row-start: 2;
	grid-column: span 3;
	border: 1px solid black;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

.disc-img img{
	max-width: 100%;

}
aside ul li{
	list-style: none;
}
aside h2{
	margin-left: 10px;
}
figure{
	align-items: center;
}
figcaption{
	color: silver;
	font-weight: 700;
	text-align: center;
}
.lastvisited{
	text-align: center;
}

/* ----------JOIN---------- */
#join {
	background-color: silver;
	color: #A71930;
	grid-column: span 4;
	margin-left: 15%;
	margin-right: 15%;
}
fieldset {
	border-radius: 10px;
}
#join fieldset label{
	display: block;
	height: 44px;
	font-weight: 600;
}
legend {
	font-weight: 700;
	font-size: large;
}
.submitBtn {
	height: 44px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 9px;
	width: 100%;
	max-width: 300px;
	font-style: italic;
}
input {
	height: 25px;
	background-color: gray;
	color: white;
}
label {
	text-align: right;
	padding-right: 50%;
	padding-top: 15px;
}
label.sbs{
	text-align: left;
	padding-top: 0;
	padding-right: 10%;
}
::placeholder{
	color: aliceblue;
}
textarea {
	vertical-align: middle;
	border-radius: 4px;
}
.top {
	text-align: left;
}
.radio{
	margin-top: 0;
	vertical-align: middle;
}
textarea {
	width: 100%;
	max-width: 800px;
}
#textarea {
	padding-right: 5%;
	padding-top: 0;
}
#buttonfieldset div {
	text-align: center;
}
.membership{
	display: grid;
	grid-template-columns: 35% 65%;
}
.membership .sbs{
	grid-column: span 2;
}
.membdesc {
	display: none;
	margin-top: 0;
}

/* ----------DIRECTORY----------- */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.dirmenu button {	
	margin-left: 25%;
	margin-right: auto;
	font-size: medium;
	background-color: silver;
	border-radius: 8px;
}

main article section {
	text-align: center;
	border-bottom: 1px black solid;
	box-shadow: 0 8px 8px -8px #333;
	padding-left: 0;
}

main article section img{
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	margin-top: 1rem;
	max-width: 120px;
}
main article section a{
	margin-top: 4px;
}
main article section p{
	margin-top: 4px;
	margin-bottom: 4px;
}
.grid section h3{
	display: none;
}
.list section {
	text-align: left;
}
.list section img {
	display: none;
}
.list section h3{
	text-shadow: none;
	color: black;
	text-align: left;
	margin-bottom: 2px;
	margin-top: 4px;
	font-size: large;
	font-weight: normal;
}
.list section:nth-child(even) {
	background-color: whitesmoke;
}
/* -------------Weather------------- */
#weather-inner {
	display: flex;
	flex-direction: row;
}
#weather-inner img{
	width: 75px;
	max-height: 50px;
}
#weather-inner li{
	min-height: 120px;
	max-width: 75px;
}
#weather-visits {
	margin-right: 10%;
}
#weather-icon {
	margin-left: 10%;
}
#weatherc{
	grid-column: span 2;
}

#companies h4{
	text-align: center;
}

/* ------------banner------------- */
#banner{
	height: 48px;
	background-color: gold;
	border: #A71930 5px solid;
	text-align: center;
	overflow: hidden;
}

.showbanner{
	display: block;
}
.hidebanner {
	display: none;
}
.marquee {
	margin: 8px auto;
	
}
.marquee span{
	color: blueviolet;
	font-size: 1rem;
	overflow: hidden;
	font-weight: 900;	
}
