/* base style for mobile - design for mobile */
body{
	font-family: Abel, Tapestry;
}
header{
	display: grid;
	grid-template-columns: auto 48px;
	background-color: #A71930;
}
header button{
	height: 48px;
	width: 48px;
	font-size: 2rem;
	background-color: #A71930;
	position: absolute;
	top: 14px;
	right: 14px;

}
button::before{
	content: "\2630";
	background-color: #A71930;
	/* border: black 1px solid; */
	padding: 0px;
	margin: 0px;
	
}
button.open::before{
	content: "\2715";
}
h1 {
	max-height: 100px;
	display: grid;
	grid-template-columns: 60px 1.25fr 1fr;
	margin: 0;
}
.m{
	max-height: 64px;
	margin-left: 4px;
}
h1 section{
	background-color: #A71930;
	margin: 0;
	padding: 0;
	padding-top: 7px;
	border: 0;
	vertical-align: middle;
}
.logo-title{
	font-size: large;
}
p.logo-title{
	background-color: #A71930;
	margin: 0;
	border: none;
}

nav{
	display: none;
	position: absolute;
	top: 60px;
	right: 0px;
}
nav.open{
	display: block;
	background-color: #A71930;
}
nav ul{
	margin: 0;
	padding: 0;
	/* align-content: center; */

}
nav li{
	list-style: none;
	text-align: center;
	vertical-align: middle;
	border: black solid 1px;
	border-top: none;
	padding-top: 0;

}
nav a{
	display: block;
	padding: .75rem 2rem;
	width: 200px;
	font-size: large;
	font-weight: 700;
}
a:link{
	text-decoration: none;
}

h3{
	text-align: center;
}



/* Header */
.hero{
	align-items: center;
	position: relative;
}

.hero img{
	margin: 0 auto;
	min-width: 100%;
	max-width: 100%;
}
.hero .btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin: 0 auto;
	padding: 0;
	background-color: #A71930;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 12rem;
	height: 3rem;
	font-size: xx-large;
	border-radius: .75rem;
}
#join p{
	vertical-align: middle;
}
main{
	display: grid;
}
/* Section */
section{
	margin: 5px;
	padding-left: 10px;
	border: 1px darkgray solid;
	background-color: lightgray;
}
.currentinfo li{
	text-decoration: none;
	list-style: none;
}
.currentinfo h2{
	border-bottom: 1px #A71930 solid;
	margin-right: 10px;
}
.spotlight{
	text-align: center;
}
.spotlight h5{
	text-align: right;
	margin-right: 10px;
} 
.spotlight h4{
	text-align: left;
	margin-right: 10px;
}
.spotlight p{
	margin-bottom: 2px;
	margin-top: 2px;
}
.spotlight a{
	text-decoration: none;
}

/* Footer */
footer section{
    background-color: #151515;
    display: grid;
    /* grid-template-columns: .7fr 1.3fr; */
    text-align: center;
    font-weight: 700;
    border: none;
    margin: 0px;
    padding-left: 0px;
}
footer section img{
	max-width: 120px;
}
ul.footer-logo{
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 0;
}
ul.footer-logo li{
	background-color: #151515;
}
ul.logo-text{
    background-color: #151515;
	color: white;
	padding-left: 10px;
	align-self: center;
	margin: 0 auto;
}
img.logo{
	max-height: 100px;
	min-height: 50px;
}
li.logo-title{
	font-weight: 900;
	font-size: large;
	text-align: left;
}
li.logo-normal{
	font-size: small;
	text-align: left;
}
footer section ul{
	display: grid;
}
footer section ul li{
	list-style: none;
	text-align: center;
}
footer section ul li a{
	text-decoration: none;
}
footer section.logo-text{
	grid-column-start: 2;
}
ul.footer-info{
	background-color: #A71930;
	text-align: center;
	padding: 0;
	grid-column: span 2;
	margin-top: 0;
	margin-bottom: 0;
}
ul.highlight{
	margin-top: 0;
	/* margin-bottom: 0; */
	background-color: #322F2B;
	padding-left: 0;
	text-align: center;
	grid-column: span 2;
	color: white;
}
#lastModified{
	margin-top: 0px;
}