/* base style for mobile - design for mobile */
body {
	font-family: Abel, Tapestry;
}

header {
	display: grid;
	grid-template-columns: auto 48px;
	background-color: #A71930;
}

header button {
	height: 48px;
	width: 48px;
	font-size: 2rem;
	background-color: #A71930;
	position: absolute;
	top: 14px;
	right: 14px;
}

header button::before {
	content: "\2630";
	background-color: #A71930;
	/* border: black 1px solid; */
	padding: 0px;
	margin: 0px;
}

header button.open::before {
	content: "\2715";
}

ul li a:link {
	color: #151515;
}

ul li a:visited {
	color: silver;
}

.logo-header {
	max-height: 100px;
	display: grid;
	grid-template-columns: 15% 50% 25%;
	margin: 0;
}

.m {
	max-height: 64px;
	margin-left: 4px;
}

.logo-header div div{
	/* background-color: #A71930; */
	margin: 0;
	padding: 0;
	padding-top: 7px;
	border: 0;
	vertical-align: middle;
}

.logo-title {
	font-size: large;
	/* overflow:visible; */
}

p.logo-title {
	margin: 0;
	border: none;
	
}
/* i[class=['fa fa-linkedin-square']{
	color: blue;
} */
i{
	color: blue;

}
nav {
	display: none;
	position: absolute;
	top: 60px;
	right: 0px;
}

nav.open {
	display: block;
	background-color: #A71930;
	z-index: 1;
	margin-right: 2%;
}

nav ul {
	margin: 0;
	padding: 0;
	/* max-width: 40px; */
}

nav ul li:nth-child(1) {
	border-top: black 1px solid;
}

nav li {
	list-style: none;
	text-align: center;
	vertical-align: middle;
	border: black solid 1px;
	border-top: none;
	padding-top: 0;

}

nav a {
	display: block;
	padding: .75rem 2rem;
	width: 200px;
	font-size: large;
	font-weight: 700;
}

a:link {
	text-decoration: none;
}

h3 {
	text-align: center;
}


/* Header */
.hero {
	align-items: center;
	position: relative;
	background-color: #A71930;
}

.hero img {
	margin: 0 auto;
	min-width: 100%;
	max-width: 100%;
	z-index: -5;
}

.hero .join {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 0;
	background-color: #A71930;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 12rem;
	height: 3rem;
	font-size: xx-large;
	border-radius: .75rem;
	border: none;
	opacity: 0.8;
}

main {
	display: grid;
	background-color: #A71930;
}

/* Section */
section {
	margin: 5px;
	padding-left: 10px;
	border: 1px darkgray solid;
	background-color: lightgray;
}

.currentinfo li {
	text-decoration: none;
	list-style: none;
}

.currentinfo h2 {
	border-bottom: 1px #A71930 solid;
	margin-right: 10px;
}

main h3 {
	color: silver;
	text-shadow: 0 0 3px #151515;
	font-size: xx-large;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.spotlight {
	text-align: center;
	box-shadow: 0 0 15px #333 inset
}

.spotlight h5 {
	text-align: right;
	margin-right: 10px;
}

.spotlight h4 {
	text-align: left;
	margin-right: 10px;
}

.spotlight p {
	margin-bottom: 2px;
	margin-top: 2px;
}

.spotlight a {
	text-decoration: none;
}

/* Footer */
footer div {
	background-color: #151515;
	display: grid;
	/* grid-template-columns: .7fr 1.3fr; */
	text-align: center;
	font-weight: 700;
	border: none;
	margin: 0px;
	padding-left: 0px;
}

footer div img {
	max-width: 120px;
}

ul.footer-logo {
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 0;
}

ul.footer-logo li {
	background-color: #151515;
}

ul.logo-text {
	background-color: #151515;
	color: white;
	padding-left: 10px;
	align-self: center;
	margin: 0 auto;
}

img.logo {
	max-height: 100px;
	min-height: 50px;
}

li.logo-title {
	font-weight: 900;
	font-size: large;
	text-align: left;
}

li.logo-normal {
	font-size: small;
	text-align: left;
}

footer div ul {
	display: grid;
}

footer div ul li {
	list-style: none;
	text-align: center;
}

footer div ul li a {
	text-decoration: none;
}

footer div.logo-text {
	grid-column-start: 2;
}

ul.footer-info {
	background-color: #A71930;
	text-align: center;
	padding: 0;
	grid-column: span 2;
	margin-top: 0;
	margin-bottom: 0;
}

ul.highlight {
	margin-top: 0;
	/* margin-bottom: 0; */
	background-color: #322F2B;
	padding-left: 0;
	text-align: center;
	grid-column: span 2;
	color: white;
}

#lastModified {
	margin-top: 0px;
}