/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	header{
		grid-template-columns: auto auto;
	}
	nav {
		position: initial;
		display: flex;
	}
	nav ul{
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
		width: 60px
	}
	nav li {
		border: none;
		justify-content: flex-end;
	}
	nav a {
		text-align: center;
		width: auto;
		padding: .5rem .75rem;
	}
	button {
		display: none;
	}
	.hero .join{
		display: block;
		top: 25px;
		left: 50px;
		transform: translate(-50%, -50%);
		height: 30px;
		width: 80px;
		font-size: smaller;
		box-shadow: 0 0 30px #333
	}

	nav ul li:nth-child(1){
		border: none;
	}

	/* MAIN */
	main{
		grid-template-columns: 1fr 1fr 1fr;
	}
	#weather{
		grid-column: span 2;
	}
	h3{
		display: none;
	}

	/* FOOTER */
	footer{
		grid-column: span 3;

	}
	footer section{
		margin-top: 8px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	ul.footer-logo{
		margin-left: 70px;
	}
	ul.footer-info{
		color: white;
		background-color: #151515;
	}
	ul.highlight{
		grid-column: span 4;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		font-size: smaller;
		margin-right: 60px;
		margin-left: 60px;
		background-color: #151515;

	}
	.highlight li{
		border-top: .5px solid #A71930;
	}
	.highlight li span{
		margin-right: 0px;
	}
	main.discovery{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.discovery aside{
		grid-row: 1;
		grid-column: 1/2;
		background-color: silver;

	}
	.disc-img{
		grid-column: 2/4;	
	
	}
	.disc-img img:hover{
		box-shadow: 0 0 30px #333;
	}
	
	/* -----------JOIN----------- */
	legend{
		font-size: x-large;
	}
	fieldset{
		max-width: 425px;
		margin-left: auto;
		margin-right: auto;
	}	
	.membership .sbs{
		grid-column: auto;
	}
	.membdesc {
		display: block;
	}

	/* ----------------directory ------------ */
	.grid {
		grid-column: span 4;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.dirmenu button{
		display: inline-block;

	}
	.dirmenu {
		grid-column: span 3;
	}
	.list section{
		display: flex;
		flex-direction: row;
		min-height: 60px;

	}
	.list {
		grid-column: span 4;

	}
	.list section h3{
		display: inline;
		width: 100px;
		margin-left: 5px;
		margin-right: 20px;
	}
	.list section p {
		margin-left: 5px;
		margin-right: 20px;
		width: 220px;		
	}
	.list section p:last-of-type {
		width: 100px;
	}
}