/*Course Portal*/
@media only screen and (min-width: 500px) {

nav ul{
    padding-right: 0;
    flex-direction: row;
    margin-right: 0;
}
.responsive li{
    flex-direction: row;
    justify-content: right;
    min-height: auto;
}
.herolabel p::after {
    content: ": Larger";
}
.herolabel {
    top: 40px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 0 auto;
}
main div{
    grid-column: 1 / span 2;
    margin: 0 auto;

}
main h1{
    grid-column: 1 / span 2;
    border-bottom: 2px gray solid;
}
main section:first-child{
    grid-row: 2 / span 2;
}
.card{
    min-width: 250px;
}
main .card #learning{
    grid-row: 2 / span 2;
    background-color: brown;
    padding-top: 0px;
}
#project{
    grid-column-start: 2;
    padding-top: 0px;
}
#info{
    grid-column-start: 2;

}
header h1{
    align-content: center;
}
main h1{
    margin-bottom: 10px;
    font-size: 2rem;
}
#bf{
    z-index: 1;
    display: inline-flex;
    max-height: 110px;
    padding-left: 20px;
    grid-column: 1/2;
    position: absolute;
    top: 60px;
}

.highlight{
    color: yellow;
}
iframe{
    max-width: 960px;
}

#weatherc {
    grid-column: span 1;
}

}